

body {
  margin:33px;
  width:458px;
  line-height:18px;
  font-size:13px;
  font-family:verdana, arial, helvetica, sans-serif;
  height:171px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin:33px;
}

a {
  display: block;
}